* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: rgb(24, 24, 24);
}

.header {
    width: 100%;
    margin-top: -10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    background: #ffffff;
    border-left: 2px solid rgb(116, 116, 116);
    border-bottom: 2px solid rgb(116, 116, 116);
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}


ul {
    display: flex;
    gap: 30px;
}

.header__link {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    transition: 0.5s;
}

.header__link:hover {
    background: black;
    color: white;
    border-radius: 20px;
}

.myImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main {
    margin-top: 50px;
    width: 100%;
    /* border: 2px solid red; */
}

.main__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 40px;
}

.pititle {
    color: rgb(184, 184, 184);
    font-size: 25px;
}

.mainPh {
    width: 400px;
    border-radius: 100px 15px 100px 15px;
}

.main2 {
    width: 100%;
    margin-top: 50px;
}

.main2__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__links {
    color: white;
    font-size: 30px;
    margin-top: 40px;
    transition: 0.5s;
}

.main__icon {
    color: white;
    font-size: 25px;
    margin-top: 10px;
}

.main__links:hover {
    background: #fff;
    color: black;
    padding: 10px;
    border-radius: 50%;
}

.about {
    margin-top: 50px;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.Icon {
    width: 20px;
    padding-top: 5px;
}

.main3 {
    width: 100%;
    margin-top: 100px;
}

.box {
    width: 380px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(164, 164, 164);
    border-radius: 10px;
    transition: 0.5s;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px 0 white;
}

.main3__title {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main3__img {
    width: 350px;
    margin-top: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.box__title {
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.box__pititle {
    color: rgb(33, 33, 33);
    padding: 10px;
    padding-top: 20px;
}

.box__hrf {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border: 2px solid;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    background: white;
    box-shadow: 0 0 10px 0;
}

.box__hrf:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    box-shadow: 0 0 10px 0;
}

.main3__content {
    display: flex;
    justify-content: space-around;
}

.location {
    color: white;
    font-size: 15px;
    display: flex;
    margin-bottom: -20px;
    gap: 5px;
    padding: 2px;
}

.services {
    width: 100%;
    margin-top: 150px;
}

.service__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service_box {
    width: 250px;
    height: 350px;
    margin-top: 50px;
    border: 2px solid rgb(213, 213, 213);
    background: #454545;
    border-radius: 10px;
    max-width: 50%;
    transition: 0.5s;
}

.service_box:hover {
    background: rgb(108, 108, 255);
    width: 60%;
}

.service_box:hover .service__pititle {
    color: black;
}

.service__tt {
    color: white;
    margin-bottom: 20px;
}

.service__title {
    color: white;
    padding: 10px;
}

.service__pititle {
    color: rgb(158, 158, 158);
    padding: 10px;
    transition: 0.5s;
}

.service__img {
    width: 130px;
    padding: 10px;
    padding-top: 30px;
}

.footer {
    width: 100%;
    margin-top: 100px;
}

.footer__title {
    color: white;
    font-size: 30px;
    padding: 80px;
}

.footerimg {
    width: 50px;
    border-radius: 50%;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid white;
    padding-top: 20px;
}

.footer__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
}

.footer__link:hover {
    color: blue;
}

.number {
    color: white;
    transition: 0.5s;
}

.number:hover {
    color: blue;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}